body,
html,
header,
* {
  margin: 0;
  padding: 0; }

header {
  height: calc(100vh - 50px);
  position: relative; }
  header > section:not(.slideshow) {
    height: 235px;
    position: relative;
    padding: 20px; }
    header > section:not(.slideshow) h1 {
      width: 210px;
      height: 50%;
      position: fixed; }
    header > section:not(.slideshow) p {
      height: calc(50% - $header-padding);
      min-width: 200px;
      max-width: 500px;
      width: 42%;
      margin-left: 25%;
      bottom: 20px;
      position: absolute; }
    header > section:not(.slideshow) p > *:first-child {
      color: #ff4b0e; }
  header > nav {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center; }
    header > nav a {
      display: block;
      margin: -50px; }
  header .slideshow {
    position: fixed;
    top: 0;
    z-index: -1; }

main {
  padding: 0 20px; }

footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%; }

html, body {
  font-size: 16px; }

body {
  font-family: sans-serif; }

header h1 {
  color: transparent;
  user-select: none;
  pointer-events: none; }

header nav a {
  text-decoration: none;
  font-size: 3rem;
  line-height: 3rem; }

header > section {
  background-color: rgba(57, 143, 151, 0.9); }
  header > section h1 {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat; }
  header > section p > *:first-child {
    color: #ff4b0e; }
  header > section p {
    color: #fff; }

header nav a {
  color: #fff; }

main {
  background-color: white; }

footer {
  background-color: #398f97; }
